<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Node + MongoDB</title>
</head>

<body>
 <h1>Bienvenido a una API FEA Para ver respuestas de Mongo como JSON</h1>
 <p>porque nos gusta chambear un chingo pues hicimos esto</p>

 <hr>
 <h2>RUTAS</h2>
 <ul>
  <li><a href="/trabajadores">/trabajadores</a>::Nos muestra una lista de trabajadores completa</li>
  <li><a href="/asignaciones/1311">/asignaciones/:id</a>::Nos muestra una lista del trabador con sus asignaciones</li>
  <li><a href="/trabajadores/oficios">/trabajadores/oficios</a>::Nos muestra una lista completa de los oficios</li>
  <li><a href="/trabajadores/oficios/electricistas">/trabajadores/oficios/:type</a>Nos muestra una lista de trabajadores con un oficio especificado</li>
  <li><a href="/asignaciones/fecha/10">/asignaciones/fecha/:mes</a>::Nos muestra una lista de las asignaciones durante el mes especificado (1 al 12)</li>

 </ul>
</body>

</html>